@import "./variables";
@import "./mixins";

//Text Weight

.text-thin {
  @include font-weight-class($font-weight-thin);
}

.text-light {
  @include font-weight-class($font-weight-light);
}

.text-book {
  @include font-weight-class($font-weight-book);
}

.text-medium {
  @include font-weight-class($font-weight-medium);
}

.text-bold {
  @include font-weight-class($font-weight-bold);
}

.text-black {
  @include font-weight-class($font-weight-black);
}

.text-ultra {
  @include font-weight-class($font-weight-ultra);
}

// Text Color
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-highlight {
  color: $highlight-color;
}

.text-gray-100 {
  color: $gray-100;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-700 {
  color: $gray-700;
}

// Text Transform

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.stroke {
  -webkit-text-stroke: 2px $gray-300;
  color: transparent;
}

// BgColors

.bg-transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: $secondary-color;
}

.bg-secondary {
  background-color: $primary-color;
}

.bg-highlight {
  background-color: $highlight-color;
}

.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-300 {
  background-color: $gray-300;
}

.bg-gray-500 {
  background-color: $gray-500;
}

.bg-gray-700 {
  background-color: $gray-700;
}

// FontSizes
.display-xl {
  font-size: $font-display-xl;
}

.display-lg {
  font-size: $font-display-lg;
}

.display-md {
  font-size: $font-display-md;
}

.heading-xl {
  font-size: $font-heading-xl;
}

.heading-lg {
  font-size: $font-heading-lg;
}

.heading-md {
  font-size: $font-heading-md;
}

.body-xl {
  font-size: $font-body-xl;
}

.body-lg {
  font-size: $font-body-lg;
}

.body-md {
  font-size: $font-body-md;
}

// Display grids

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.g-32 {
  column-gap: 3.2rem;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

//Spacings

.pt-18 {
  padding-top: 1.8rem;
}

.pb-18 {
  padding-bottom: 1.8rem;
}

.p-160 {
  padding: 16rem;
}

.mb-105 {
  margin-bottom: 105px;
}

.p-8 {
  padding-top: 0.8rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mb-12 {
  margin-bottom: 8rem;
}

.top-full {
  top: 100%;
}

.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.spacer {
  height: 28rem;
}

// Border

.bb-solid {
  border-bottom: 1px solid;
}

.bb-solid-2 {
  border-bottom: 1px solid;
}

.border {
  border: 1px;
}

.border-2 {
  border: 2px;
}

.half-border-t {
  position: relative;
  padding-top: 0.8rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 6px;

    background-color: #f80d5a;
    transition: width 0.4s ease-out;
  }
  
  &.active::before {
    width: 33%;
  }
}

.full-border-t {
  position: relative;
  padding-top: 3.3rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 1px;

    background-color: #949b99;
    transition:
      width 0.4s ease-out,
      background-color 0.3s;
  }

  &.is-hovered::before {
    width: 100%;
    background-color: $highlight-color;
  }
}

.b-primary {
  border-color: $primary-color;
}

.b-highlight {
  border-color: $highlight-color;
}

// Sizings

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-20 {
  height: 20rem;
}


.w-435 {
  width: 43.5rem;
}

.w-full {
  width: 100%;
}

// Positions

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Modifiers

.text-slide {
  display: inline-block;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.translate-y-1\/2 {
  transform: translateY(-50%);
}

.italic {
  font-style: italic;
}

// OTHERS

.text-center {
  text-align: center;
}

.img-body {
  height: 300vh;
  background: #000;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

@media (max-width: 768px) {
  .flex{
    flex-direction: column;
  }

  .p-160 {
    padding: 1.6rem;
  }

  .three-columns {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns:1fr;
}
.w-half{
  width: 100%;
}
  
}